<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quaerat dignissimos fugit rem ipsa aliquid.</p>
    </div>
</div>

<div class="row justify-content-center">
    <% if(infoSubmitObj != "") { %>
        <div class="col-10 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
    <% } %> 
    <% if(infoErrorsObj != "") { %>
        <div class="col-10 alert alert-danger" role="alert">
            <%= infoErrorsObj[0].message %>
        </div>
    <% } %>
    <div class="col-10 container">
        <form action="/submit-recipe" method="post" class="submitForm needs-validation" enctype="multipart/form-data" novalidate="">
            <div class="row mb-3">
                <label for="recipeName" class="col-sm-2 col-form-label">Recipe Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="recipeName" name="recipeName" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 row mb-3">
                    <label for="servings" class="col-sm-2 col-form-label col-lg-4">Servings</label>
                    <div class="col-sm-10 col-lg-7">
                        <input type="text" class="form-control" id="servings" name="servings" min="1">
                    </div>
                </div>
                <div class="col-lg-6 row mb-3">
                    <label for="cookTime" class="col-sm-2 col-form-label col-lg-4">Time</label>
                    <div class="col-sm-10 col-lg-8">
                        <input type="text" class="form-control" id="cookTime" name="cookTime" min="1">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ingredients" class="col-sm-2 col-form-label">Ingredients</label>
                <div class="col-sm-10">
                    <div class="ingredientList">
                        <div class="ingredientDiv mb-3 row">
                            <div class="col-lg-4 col-sm-12 ingredientInputBox">
                                <input class="form-control" name="ingredientName" list="ingredientOptions" id="ingredientName" placeholder="ingredient..." required>
                                <datalist id="ingredientOptions">
                                    <option value="Chicken">
                                    <option value="Beef">
                                    <option value="Lamb">
                                    <option value="Pork">
                                    <option value="Vegetable">
                                    <option value="Feesh">
                                </datalist>
                            </div>
                            <div class="col-lg-2 col-sm-4 ingredientInputBox">
                                <input type="number" name="ingredientNumber" class="form-control" placeholder="amount..." min="1">
                            </div>
                            <div class="col-lg-2 col-sm-4 ingredientInputBox">
                                <input class="form-control" list="unitOptions" name="ingredientUnit" id="unitList" placeholder="unit...">
                                <datalist id="unitOptions">
                                    <option value="Grams">
                                    <option value="Kilograms">
                                    <option value="Tonnes">
                                    <option value="Pounds (UK)">
                                    <option value="Pounds (US)">
                                    <option value="Ounces (UK)">
                                    <option value="Ounces (US)">
                                    <option value="Pieces">
                                    <option value="Cubes">
                                    <option value="Bits">
                                    <option value="Splash">
                                    <option value="Dollop">
                                    <option value="Shake">
                                    <option value="Sprinkle">
                                </datalist>
                            </div>
                            <div class="col-lg-4 col-sm-4 ingredientInputBox">
                                <input type="text" name="ingredientNotes" class="form-control" placeholder="Notes">
                            </div>
                            
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" id="addIngredientBtn"><i class="bi bi-plus-circle-fill"></i></button>
                    <button type="button" class="btn btn-danger" id="removeIngredientBtn"><i class="bi bi-x-circle-fill"></i></button>
                </div>
            </div>
            <div class="row mb-3">
                <label for="directions" class="col-sm-2 col-form-label">Directions</label>
                <div class="col-sm-10">
                    <div class="col-12 directionList">
                        <div class="directionDiv mb-1 form-floating input-group">
                            <span class="input-group-text">Step 1</span>
                            <textarea name="directions" name="step1" id="direction" class="form-control" aria-label="Step 1" required></textarea>
                        </div>
                    </div>
                    <div class="col-12 directionBtns">
                        <button type="button" class="btn btn-success" id="addDirectionBtn"><i class="bi bi-plus-circle-fill"></i></button>
                        <button type="button" class="btn btn-danger" id="removeDirectionBtn"><i class="bi bi-x-circle-fill"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 row mb-3">
                    <label for="course" class="col-sm-2 col-form-label col-lg-4">Course</label>
                    <div class="col-sm-10 col-lg-7">
                        <select name="course" id="course" class="form-select form-control" aria-label="Breakfast, Dinner ....." required>
                            <option value="" selected>Select Course</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Dessert">Dessert</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 row mb-3">
                    <label for="cuisine" class="col-sm-2 col-form-label col-lg-4">Cuisine</label>
                    <div class="col-sm-10 col-lg-8">
                        <input class="form-control" list="cuisine" name="cuisine" placeholder="American, Thai, Indian ....." required>
                        <datalist id="cuisine">
                            <% cuisineOptions.forEach(cuisine => { %>
                                <option value="<%= cuisine.name %>">
                            <% }) %>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="imgUpload" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
            </div>
            <div class="row mb-3">
                <label for="videoLink" class="col-sm-2 col-form-label">Video Link</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="videoLink" name="videoLink">
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </form>
    </div>          
</div>

