:root {
    --bs-font-sans-serif: "Rubik", sans-serif;
}
body {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}
.container-xxl {
    max-width: 1600px;
}
a {
    color: var(--bs-dark);
}

/* Category cards */
.category__link {
    display: block;
    text-decoration: none;
    transition: 200ms all;
}
@media (hover: hover) {
    .category__link:hover {
        transform: scale(1.1);
    }
}
.category__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    border-radius: 8px;
}
.category__img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.category__img--Large {
    height: 330px;
}
.categories__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    border-radius: 8px;
}
.categories__img img {
    min-width: auto;
    min-height: 100%;
    object-fit: cover;
}
.ingredientBtns {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    padding-right: 1rem;
}
.submitForm .row {
    --bs-gutter-x: 0;
}
